<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ContenuPedagogique -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ContenuPedagogique.presentation.ContenuPedagogiqueModelWizardID"
            name="%_UI_ContenuPedagogiqueModelWizard_label"
            class="ContenuPedagogique.presentation.ContenuPedagogiqueModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContenuPedagogiqueModelFile.gif">
         <description>%_UI_ContenuPedagogiqueModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ContenuPedagogique -->
      <editor
            id="ContenuPedagogique.presentation.ContenuPedagogiqueEditorID"
            name="%_UI_ContenuPedagogiqueEditor_label"
            icon="icons/full/obj16/ContenuPedagogiqueModelFile.gif"
            extensions="contenupedagogique"
            class="ContenuPedagogique.presentation.ContenuPedagogiqueEditor"
            contributorClass="ContenuPedagogique.presentation.ContenuPedagogiqueActionBarContributor">
      </editor>
   </extension>

</plugin>
